<mat-toolbar>
  <button matIconButton class="header-icon" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Canary</span>
  <span class="header-spacer"></span>
  <!-- Account Menu -->
  <button matIconButton [matMenuTriggerFor]="accountMenu">
    <mat-icon>manage_accounts</mat-icon>
  </button>

  <mat-menu #accountMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
